<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]-Trang quản lý người dùng</title>
    <!-- Bootstrap -->
    <link href="/admin-template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/admin-template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/admin-template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/admin-template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/admin-template/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/admin-template/production/images/img.jpg" alt="/admin-template." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                        
                    </div>
                    <div class="dropdown jtv-language-box">
                        <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img class="img-responsive" src="/admin-template-web/version2/images/flag-english.jpg" alt="language"> English <span class="caret"></span> </a>
                        <language-nav language-label="NativeName"
                                      cookie-handler-url="@(Url.Link("Admin/Home/SetCultureCookie", new { area= "Admin", cltr="{0}", returnUrl="{1}" }))">
                        </language-nav>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    @await Component.InvokeAsync("SileBar")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/admin-template/production/images/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li>
                                    <select id="ddlListLanguage">
                                        <option>VietNamest</option>
                                        <option>English</option>
                                    </select>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="Green"><label class="txtTotal">0</label></span>
                                </a>
                                <ul id="anount" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <button id="txtDeleteAllAnn">DeleteAllAnn</button>
                                    </li>
                                </ul>
                                <!--Pagination-->

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <script id="table-template-publicMessage" type="x-tmpl-mustache">
                <li>
                    <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                            <span>{{Name}}</span>
                            <span class="time">@DateTime.Now</span>
                        </span>
                        <span class="message">
                            {{Decripstion}}
                        </span>
                       <button class="btnDeleteAnn" data-id="{{Id}}">Delete</button>
                    </a>
                </li>
            </script>

            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <!-- jQuery -->
    <script src="/admin-template/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/tedu.js" asp-append-version="true"></script>

    <!-- Bootstrap -->
    <script src="~/admin-template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="/admin-template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/admin-template/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/admin-template/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/admin-template/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="/admin-template/vendors/moment/min/moment.min.js"></script>
    <script src="/admin-template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/twbs-pagination/jquery.twbsPagination.min.js" asp-append-version="true"></script>
    <script src="~/admin-template/announce.js" asp-append-version="true"></script>
    <script>
        var ann = new Annnounce();
        ann.init();
    </script>
    <script src="/admin-template/build/js/custom.min.js"></script>
    <script src="~/lib/mustache.js/mustache.min.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/chatrealtime/js/chat.js" asp-append-version="true"></script>
    <
    
    @RenderSection("Scripts", required: false)
</body>
</html>
